<%= stylesheet_link_tag "users_controller" %>
<ul class="users_container">
  <%= render 'shared/user-card', user: @user %>
  <div class="bio-box">
    <p class="heading">Bio</p>
    <p class="bio-info"><%= @user.bio %></p>
  </div>
  <ul class="user_posts-container">
    <% @posts.each_with_index do |post, index| %>
      <li class="post_list">
        <p class="heading">Post #<%= index+1 %></p>
        <p class="post_detail"><%= post.text[0..120]... %></p>
        <p class="post_interactions">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
      </li>
    <% end %>
  </ul>
  <%= link_to 'See All Post', "#{@user.id}/posts", target: '_blank', class: 'see-btn' %>
</ul>